.idea
target
*.iml

/reference

# testing
/src/test/java/resources/*.txt
/src/test/java/resources/*.zip
/src/test/java/resources/TEST_LOCK
/src/test/java/resources/TEST_GROUP

# protobuf
/protobuf/**/*.java