name: MTA CI
on: [workflow_dispatch]

permissions: read-all

concurrency:
  group: mta-test
  cancel-in-progress: true

jobs:
  mta_ci:
    name: MTA CI [${{ matrix.group }}] (Java ${{ matrix.java }})
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      matrix:
        java: [8, 11, 17, 21, 25]
        group: [MTA, Bus, Subway, LIRR, MNR]
      fail-fast: false
      max-parallel: 1
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Install Java
        uses: actions/setup-java@v5
        with:
          architecture: x64
          distribution: temurin
          java-version: ${{ matrix.java }}

      - name: Install resources
        shell: bash
        run: ./install.sh

      - name: Load Client ID
        run: echo ${{ secrets.BUS_TOKEN }} > src/test/java/resources/bus.txt

      - name: Load Test Group
        run: echo ${{ matrix.group }} > src/test/java/resources/TEST_GROUP

      - name: Test with Maven
        run: mvn test -fae --no-transfer-progress